<h2>Bands</h2>

<a class="button-links" href="<%=new_band_url%>">Add Band</a>

<ul>
    <% @bands.each do |band| %>
        <li>
            <a href="<%=band_url(band.id)%>"><%= band.name %></a>
        </li>
    <% end %>
</ul>